extends layout
block content
  link(rel='stylesheet', href='/stylesheets/some.css')
  script(src='/public/javascripts/global.js')
  h1= title
  // Wrapper
  #wrapper
      // USER INFO
      #userInfo
          h2 User Info
          p
            strong Name:
            |  <span id='userInfoName'></span>
            br
            strong Age:
            |  <span id='userInfoAge'></span>
            br
            strong Gender:
            |  <span id='userInfoGender'></span>
            br
            strong Location:
            |  <span id='userInfoLocation'></span>
          div#btn_div
            button#btnAddUser Add User
            button#btnEditUser Edit User
      // /USER INFO
      // USER LIST
      h2 User List
      #userList
          table
              thead
                  th UserName
                  th Email
                  th Delete?
      // /USER LIST
      // ADD USER
      h2 Add User
      #addUser
        fieldset
          input#inputUserName(type='text', placeholder='Username')
          br
          input#inputUserEmail(type='text', placeholder='Email')
          br
          input#inputUserFullname(type='text', placeholder='Full Name')
          br
          input#inputUserAge(type='text', placeholder='Age')
          br
          input#inputUserLocation(type='text', placeholder='Location')
          br
          input#inputUserGender(type='text', placeholder='gender')
          br
      // /ADD USER
    // /WRAPPER
